 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-1 .u-group-1 {
  width: 763px;
  min-height: 751px;
  background-image: none;
  box-shadow: 6px 6px 0px 0 rgba(0,0,0,0.2);
  animation-duration: 1000ms;
  margin: 129px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 28px auto 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.375rem;
  font-weight: 600;
  margin: 35px 1px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  margin: 56px auto 0;
  padding: 20px 77px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-family: Roboto, sans-serif;
  }

  .u-section-1 .u-text-2 {
    font-family: "Open Sans", sans-serif;
  }

  .u-section-1 .u-text-3 {
    font-family: "Open Sans", sans-serif;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-group-1 {
    min-height: 647px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-1 .u-group-1 {
    min-height: 600px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
    font-family: GoogleSans-Medium;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    font-family: GoogleSans-Medium;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: GoogleSans-Medium;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
  }
}