.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-image-1 {
  width: 115px;
  height: 115px;
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 68px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-family: GoogleSans-Bold;
  animation-duration: 1000ms;
  margin: 18px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: GoogleSans-Medium;
  font-weight: normal;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  min-height: 16px;
  width: 320px;
  min-width: 196px;
  animation-duration: 1000ms;
  height: 37px;
  margin: 18px auto 60px;
}

.u-section-1 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-icon-3 {
  color: rgb(203, 32, 39) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-1 .u-icon-6 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 86px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 294px;
    transition-duration: 0.5s;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 416px;
}

.u-section-2 .u-text-1 {
  text-align: start;
  font-weight: 700;
  font-family: GoogleSans-Bold;
  margin: 37px auto 0 20px;
}

.u-section-2 .u-text-2 {
  font-family: GoogleSans-Medium;
  margin: 40px 0 0 20px;
}

.u-section-2 .u-text-3 {
  font-family: "Source Sans Pro", sans-serif;
  margin: 40px 797px 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-right: 597px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-right: 377px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-right: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 815px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: GoogleSans-Bold;
  margin: 111px auto 0 0;
}

.u-section-3 .u-list-1 {
  width: 974px;
  margin: 73px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 11px 11px;
  grid-template-columns: calc(50% - 5.5px) calc(50% - 5.5px);
  min-height: 375px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-3 .u-text-2 {
  font-family: GoogleSans-Medium;
  margin: 7px auto 0;
}

.u-section-3 .u-image-1 {
  width: 123px;
  height: 123px;
  margin: -19px auto 0 8px;
}

.u-section-3 .u-text-3 {
  font-family: GoogleSans-Regular;
  margin: -92px 17px 0 161px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-3 .u-text-4 {
  font-family: GoogleSans-Medium;
  margin: 7px auto 0;
}

.u-section-3 .u-image-2 {
  width: 123px;
  height: 123px;
  margin: -19px auto 0 8px;
}

.u-section-3 .u-text-5 {
  font-family: GoogleSans-Regular;
  margin: -92px 17px 0 161px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-3 .u-text-6 {
  font-family: GoogleSans-Medium;
  margin: 7px auto 0;
}

.u-section-3 .u-image-3 {
  width: 123px;
  height: 123px;
  margin: -19px auto 0 8px;
}

.u-section-3 .u-text-7 {
  font-family: GoogleSans-Regular;
  margin: -92px 17px 0 161px;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-3 .u-text-8 {
  font-family: GoogleSans-Medium;
  margin: 7px auto 0;
}

.u-section-3 .u-image-4 {
  width: 123px;
  height: 123px;
  margin: -19px auto 0 8px;
}

.u-section-3 .u-text-9 {
  font-family: GoogleSans-Regular;
  margin: -92px 17px 0 161px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 67px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 92px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 394px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -86px;
    margin-left: 147px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -86px;
    margin-left: 147px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -86px;
    margin-left: 147px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -86px;
    margin-left: 147px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 35px;
    margin-bottom: 58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 669px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 4px 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 35px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -55px;
    margin-left: 7px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -50px;
    margin-right: 26px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 4px 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 35px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -55px;
    margin-left: 7px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -50px;
    margin-right: 26px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 4px 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 35px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -55px;
    margin-left: 7px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -50px;
    margin-right: 26px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 4px 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 35px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -55px;
    margin-left: 7px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -50px;
    margin-right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 63px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 681px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-left: 157px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -28px;
    margin-left: 17px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -87px;
    margin-right: 10px;
    margin-left: 157px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 8px;
    margin-left: 157px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -28px;
    margin-left: 17px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -87px;
    margin-right: 10px;
    margin-left: 157px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 8px;
    margin-left: 157px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -28px;
    margin-left: 17px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -87px;
    margin-right: 10px;
    margin-left: 157px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 8px;
    margin-left: 157px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -28px;
    margin-left: 17px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -87px;
    margin-right: 10px;
    margin-left: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1223px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1082px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 116px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    width: 100px;
    height: 100px;
    margin-top: -131px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    width: 260px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 116px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 100px;
    height: 100px;
    margin-top: -131px;
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    width: 260px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: 116px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    width: 100px;
    height: 100px;
    margin-top: -131px;
    margin-left: auto;
  }

  .u-section-3 .u-text-7 {
    width: 260px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: 116px;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    width: 100px;
    height: 100px;
    margin-top: -131px;
    margin-left: auto;
  }

  .u-section-3 .u-text-9 {
    width: 260px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 163px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-family: GoogleSans-Medium;
  margin: 60px auto 58px;
  padding: 8px 183px;
}

.u-section-4 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 575px) {
  .u-section-4 .u-btn-1 {
    padding-right: 80px;
    padding-left: 78px;
    margin: 62px 0 60px;
  }
}@font-face {
  font-family: 'GoogleSans-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GoogleSans-Bold.ttf);
}@font-face {
  font-family: 'GoogleSans-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GoogleSans-Medium.ttf);
}@font-face {
  font-family: 'GoogleSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GoogleSans-Regular.ttf);
}