.u-section-1 .u-sheet-1 {
  min-height: 501px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: GoogleSans-Medium;
  margin: 59px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 29px auto 59px;
}

.u-section-1 .u-label-1 {
  font-family: GoogleSans-Medium;
}

.u-section-1 .u-input-1 {
  font-family: GoogleSans-Medium;
}

.u-section-1 .u-label-2 {
  font-family: GoogleSans-Medium;
}

.u-section-1 .u-input-2 {
  font-family: GoogleSans-Medium;
}

.u-section-1 .u-label-3 {
  font-family: GoogleSans-Medium;
}

.u-section-1 .u-input-3 {
  font-family: GoogleSans-Medium;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-family: GoogleSans-Bold;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 254px;
}

.u-section-2 .u-text-1 {
  font-family: GoogleSans-Medium;
  margin: 80px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-family: GoogleSans-Bold;
  margin: 36px auto 60px;
  padding: 8px 33px;
}@font-face {
  font-family: 'GoogleSans-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GoogleSans-Medium.ttf);
}@font-face {
  font-family: 'GoogleSans-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GoogleSans-Bold.ttf);
}