.u-section-1 .u-sheet-1 {
  min-height: 753px;
}

.u-section-1 .u-text-1 {
  font-family: GoogleSans-Bold;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 106px auto 0;
}

.u-section-1 .u-group-1 {
  width: 397px;
  min-height: 240px;
  animation-duration: 1000ms;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 100px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  font-family: GoogleSans-Bold;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 66px auto 0;
  padding: 8px 68px 8px 66px;
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    animation-duration: 6000ms;
    padding-right: 50px;
    padding-left: 49px;
  }
}@font-face {
  font-family: 'GoogleSans-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GoogleSans-Bold.ttf);
}