 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 581px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-bottom: 43px;
  margin-top: 114px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 424px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 205px;
  height: 205px;
  background-image: url("images/1638698017662.png");
  background-position: 50% 50%;
  margin: 97px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 424px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 800;
}

.u-section-1 .u-icon-1 {
  color: rgb(244, 212, 78) !important;
  font-size: 1.5em;
}

.u-section-1 .u-text-2 {
  line-height: 1.6;
  font-weight: 700;
  margin: 20px 38px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 350px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 73px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 350px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-weight: 600;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 253px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 182px;
}

.u-section-2 .u-social-icons-1 {
  min-height: 16px;
  width: 650px;
  min-width: 338px;
  margin: 57px auto;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-2 .u-icon-4 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-5 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

.u-section-2 .u-icon-6 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-2 .u-icon-7 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-2 .u-icon-8 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 767px) {
  .u-section-2 .u-social-icons-1 {
    width: 478px;
    min-width: 233px;
    height: 47px;
    margin-top: 60px;
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 112px;
  }

  .u-section-2 .u-social-icons-1 {
    width: 325px;
    height: 28px;
    margin-top: 42px;
    margin-bottom: 42px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 501px;
}

.u-section-3 .u-text-1 {
  margin: 230px auto 60px;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 649px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 38px 675px 0 32px;
}

.u-section-4 .u-form-1 {
  height: 402px;
  background-image: none;
  width: 785px;
  margin: 30px auto 0;
}

.u-section-4 .u-label-1 {
  font-weight: 500;
}

.u-section-4 .u-input-1 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: none;
}

.u-section-4 .u-label-2 {
  font-weight: 500;
}

.u-section-4 .u-input-2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: none;
}

.u-section-4 .u-label-3 {
  font-weight: 500;
}

.u-section-4 .u-input-3 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: none;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: -53px 731px 60px 191px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 507px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 631px;
    margin-left: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 287px;
  }

  .u-section-4 .u-form-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -51px;
    margin-right: 488px;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 107px;
  }

  .u-section-4 .u-form-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -55px;
    margin-right: 310px;
    margin-left: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
    margin-top: 38px;
  }

  .u-section-4 .u-text-2 {
    width: 218px;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 238px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 2.2;
  width: 573px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 134px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1rem;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}