 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 804px;
}

.u-section-1 .u-shape-1 {
  width: 193px;
  height: 193px;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: 561px -59px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 250px;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: -664px auto 0 -61px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: -203px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 530px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: titillium-Web;
  animation-duration: 1250ms;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 14px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 1px;
  align-self: center;
  background-image: none;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 29px auto 0 0;
  padding: 15px 46px 15px 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-1 .u-shape-1 {
    width: 141px;
    height: 141px;
    margin-top: 534px;
    margin-right: -36px;
    transform: scale(1.26);
  }

  .u-section-1 .u-shape-2 {
    width: 228px;
    height: 228px;
    margin-top: -614px;
    margin-left: -37px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -169px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 504px;
    pointer-events: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 34px;
    transform: translateX(0px) translateY(-5px) scale(1);
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    transition-duration: 1.5s;
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-btn-1 {
    transform: scale(1);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 510px;
  }

  .u-section-1 .u-shape-2 {
    width: 198px;
    height: 198px;
    margin-top: -599px;
    margin-left: -30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -125px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 344px;
    margin-right: -50px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -420px;
    margin-left: -24px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -141px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 40px 30px 45px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 2px;
  }

  .u-section-1 .u-btn-1 {
    animation-duration: 1000ms;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 428px;
  }

  .u-section-1 .u-shape-2 {
    width: 172px;
    height: 172px;
    margin-top: -549px;
    margin-left: -32px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -128px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-top: 14px;
  }
}

.u-section-1 .u-text-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-btn-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-1:hover {
  box-shadow: -2px -2px 13px 0 rgba(128,128,128,1) !important;
  border-radius: 20px !important;
  transform: scale(1) !important;
}

.u-section-1 .u-shape-2 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-shape-2:hover {
  border-radius: 10px !important;
  transform: scale(1.25) !important;
}

.u-section-1 .u-shape-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-shape-1:hover {
  border-radius: 10px !important;
  transform: scale(1.26) !important;
} .u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 700px;
}

.u-section-2 .u-group-1 {
  width: 596px;
  min-height: 268px;
  margin: 157px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-line-1 {
  width: 450px;
  height: 0;
  margin: 19px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: 19px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 190px;
  min-height: 80px;
  margin: 65px auto 60px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 1px;
  align-self: center;
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: 0 15px 0 auto;
  padding: 14px 43px 15px 42px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-2 .u-text-2 {
    transform: translateX(0px) translateY(-5px) scale(1.04);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-group-2 {
    min-height: 158px;
    margin-top: 19px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 89px;
    margin-right: auto;
  }
}

.u-section-2 .u-btn-2 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-2 .u-btn-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 36px !important;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-text-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-2 .u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  font-weight: bold !important;
}

.u-section-2 .u-text-2 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-2 .u-text-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1.04) !important;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
}

.u-section-3 .u-sheet-1 {
  min-height: 649px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 450px;
  background-image: none;
  margin: 46px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 4.5rem;
  background-image: none;
  font-family: Lobster, display;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  min-height: 16px;
  width: 408px;
  min-width: 216px;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: 41px auto 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
}

.u-section-3 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
}

.u-section-3 .u-icon-3 {
  color: rgb(203, 32, 39) !important;
}

.u-section-3 .u-icon-4 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-3 .u-icon-5 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-3 .u-icon-6 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-3 .u-group-1 {
    min-height: 405px;
    margin-top: 53px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 88px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-social-icons-1 {
    width: 284px;
    min-width: 156px;
    height: 37px;
    margin-top: 53px;
  }
}

.u-section-3 .u-social-icons-1,
.u-container-layout .u-section-3 .u-social-icons-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-3 .u-social-icons-1:hover,
.u-section-3 .u-container-layout:hover .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}