.u-section-1 .u-sheet-1 {
  min-height: 560px;
}

.u-section-1 .u-image-1 {
  width: 450px;
  height: 300px;
  margin: 32px auto 0;
}

.u-section-1 .u-group-1 {
  width: 617px;
  min-height: 80px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: GoogleSans-Bold;
  background-image: none;
  text-align: start;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-family: GoogleSans-Medium;
  text-align: start;
  margin: 23px auto 0 68px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
  }
}@font-face {
  font-family: 'GoogleSans-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GoogleSans-Bold.ttf);
}@font-face {
  font-family: 'GoogleSans-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GoogleSans-Medium.ttf);
}